<footer class="text-muted bg-white">
    <div class="container">
        <div class="text-center">
            <h6>&copy; 2020, Yannick Kirschen</h6>
            <a href="https://github.com/{{ site.github }}">Follow me on
                GitHub.</a>
            <p>{{ site.description }}</p>
            <br>
            <p>Made with :heart: in Cologne. Proudly hosted on <a
                href="https://github.com/yannickkirschen/yannickkirschen.github.io">GitHub
                Pages</a>.</p>
            <br>
            <a href="#">Back to top</a>
        </div>
    </div>
</footer>
